@{
}

<h1>Create New Post</h1>

<form method="post">
    Title:
    <input type="text" name="Title" required />
    <br />
    Body: <br />
    <textarea name="Body"></textarea>

    <br />
    <button type="submit">Create Post</button>
</form>